html, body {
  margin: 0;
  padding: 0;
  background-color: #1a183f;
}

canvas {
  display: block;
}

:root {
    --grad: linear-gradient(#5157D9, #71FFAD);
}


@font-face {
  font-family: 'Vero';
  src: url('assets/RecklessNeueTRIAL-Book.otf');
}


@font-face {
  font-family: 'TT-Commons';
  src: url('assets/TT-Commons-Pro-Regular.otf');
}



  .section {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);

  }



  #thumbnail {
    position: relative;
    top: 15vh; 
    left: 33vw;
    width: 960px;
    height: 540px;
    background: #282561;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #shapeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
  }
  
  .grid-area-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .grid-area-2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .grid-area-3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .grid-area-4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .grid-area-span-all {
    grid-area: 1 / 1 / 3 / 3;
  }
  
  .grid-area-span-left {
    grid-area: 1 / 1 / 3 / 2;
  }
  
  .grid-area-span-right {
    grid-area: 1 / 2 / 3 / 3;
  }
  
  .grid-area-span-top {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .grid-area-span-bottom {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  .shape {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    overflow: hidden; /* Ensure content does not overflow the grid cell */
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  .shape svg {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the SVG fits within the container */
  }


  .grid-cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }


button {
    font-family: 'TT-Commons';
    padding: 10px 10px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    transition: 0.3s ease;
}
    
#ui {
  position: absolute;
  margin: 20px;
  padding: 20px;
  width: 25vw;
  top: 0; 
  left: 2vw;
  color: white;
  font-family: 'TT-Commons';
}

.section-title {
  font-size: 18px;
  margin: 10px;
}


.ratio {
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
}

.frame {
  opacity: 0.2;
  transition: 0.3s ease;
}

.frame:hover {
  opacity: 1;
}

.active-frame {
  opacity: 1;
}


#ratio-selector > div {
  font-size: 14px;
}


#landscape {
  width: calc(60px * 16 / 9);
  height: 60px;
  background-color: #cccccc; /* Just for visualization */
  position: relative;
}


#square {
  width: 60px;
  height: 60px;
  background-color: #cccccc; /* Just for visualization */
  position: relative;
}

#vertical {
  width: calc(60px * 4 / 5);
  height: 60px;
  background-color: #cccccc; /* Just for visualization */
  position: relative;
}


.category-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
}

.category-container > button {
  background: #ededed40;
  color: white;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
}


.active-category {
  background: #ededed !important;
  color: #282561 !important;
}

.arrangement {
  position: relative;
  align-items: center;
  gap: 10px;
}


select {
  font-family: 'TT-Commons';
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    background-color:  #ededed40;
    color: white;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}



#randomize {
  position: absolute;
  top:30px;
  right: 0;
}

#title-input {
  margin: 0px 10px;
}
#color-chips {
  display: inline-block;
  padding: 20px 0px 20px 40px;
}

.secondary {
  padding: 5px 5px;
  margin-left: 0px;
}


.photo {
  position: relative;
  gap: 10px;
}

.imgInputContainer {
  padding: 0px 10px;
  align-self: flex-end; /* Align the Randomize button to the right */
  right:0;
}

#removePhoto {
  background: transparent;
  color: #ededed
}



input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 5px 0px;
  background-color: #white;
  color: #282561;
  font-family: 'TT-Commons'
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#file-upload-button {
  appearance: none;
  font-family: 'TT-Commons';
  padding: 10px 10px;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  border: none;
}

#render {
 margin-top: 20px;
 /* background-color: #282561; */
 /* color: white; */
}


#render:hover {
  background-color: #5157D9;
  /* color:white; */
  border: 1px solid #5157D9;
}

#title-input {
  border: none;
  outline: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #ededed;
  appearance: none;
  font-family: 'TT-Commons';
  padding: 10px 0; /* Padding for vertical spacing */
  font-size: 16px;
  background: transparent; /* Transparent background */
  color: white; /* Text color */
  width: 60%; /* Full width */
  display: inline-block;

}

input {
  border: 1px solid rgb(182, 182, 182);
}
  
input[type="text"]:focus {
  background: transparent;
}



#title-container {
  /* position: relative;
  width: 100%;
  height: 100%; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    text-align: center;
    padding: 10px;
    z-index: 1; /* Ensure it stays on top */

}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  font-family: 'Vero';
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  color:white;
}



#imgInput {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.color-chip {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.color-chip.white {
  background-color: white;
}

.color-chip.blue {
  background-color: #282561;
  border-color: white;
}

.color-chip.selected {
  border: 1px solid white;
}

.logo {
  position: absolute;
  width: 100px;
padding: 20px;
bottom: 0; 
right: 0;
}